.m-box {
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    text-align: center;
  }
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: calc(100px + 5rem);

    &--no-sticky {
      position: unset;
    }
  }

  padding-top: 1.25rem;
  padding-bottom: 2.25rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  background-color: $primary;
  color: $white;
  max-width: 440px;
  min-height: 568px;
  position: relative;

  &--dark {
    background-color: $gray-800;
  }

  &--full {
    @include media-breakpoint-down(xl) {
      min-height: auto;
      max-width: 100%;
      text-align: left;
      padding-left: 2.5rem;
      top: 0;
    }

    min-height: auto;
    max-width: 626px;
    padding-left: 4.5rem;
    padding-right: 6.25rem;
  }

  &--dotted {
    padding-top: 2.25rem;
    position: relative;
    top: 0;

    &:before {
      position: absolute;
      top: 0;
      content: "";
      background-image: url(../img/dots.svg);
      background-position: 50% -50%;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 28px;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__header {
    @include media-breakpoint-down(lg) {
      padding-left: 0px;
    }

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 30px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    text-transform: uppercase;
    color: $white;
  }

  &__body {
    @include media-breakpoint-down(lg) {
      padding-left: 0px;
    }

    padding-left: 30px;
  }

  &__name {
    font-size: 15px;
    font-weight: $font-weight-bold;
  }

  &__title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: $white;
    font-weight: $font-weight-bold;
  }
}
