.m-box {
  padding-top: 1.25rem;
  padding-bottom: 2.25rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  background-color: $primary;
  color: $white;
  max-width: 440px;
  min-height: 568px;
  position: relative;

  &--dotted {
    padding-top: 2.25rem;
    background-color: $gray-800;
  }

  &__dots {
    @include media-breakpoint-down(sm) {
      gap: 30px;
    }

    display: flex;
    gap: 49px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 20px;
      }

      background-color: $white;
      width: 27px;
      height: 27px;
      display: block;
      border-radius: 50%;
    }
  }

  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 30px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    text-transform: uppercase;
    color: $white;
  }

  &__body {
    padding-left: 30px;
  }

  &__name {
    font-size: 15px;
    font-weight: $font-weight-bold;
  }

  &__title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: $white;
    font-weight: $font-weight-bold;
  }
}
