$m-swiper-btn-size: 80px !default;

.m-swiper {
  position: relative;
  margin-top: 5rem;

  &__controls {
    @include media-breakpoint-up(xxl) {
      display: flex;
      justify-content: space-between;
      width: calc(100% + #{$m-swiper-btn-size * 2} + 53px);
      position: absolute;
      top: 50%;
      left: calc(#{-$m-swiper-btn-size} - 53px);
      transform: translateY(-50%);
      color: $primary;
    }

    display: none;
  }

  &__btn {
    border: 1px solid rgba($color: $primary, $alpha: .1);
    background: transparent;
    width: $m-swiper-btn-size;
    height: $m-swiper-btn-size;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    z-index: 99;

    &--next {

      svg {
        transform: rotate(180deg);
      }
    }
  }
}

