.m-timeline {
  $root: &;

  @include media-breakpoint-down(sm) {
    width: calc(100% - 30px);
  }
    position: relative;
    // height: 800px;
    width: calc(100% - 113px);

  &__wrapper {
    position: relative;
    overflow: scroll;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
  }

  &__list {
    height: 4px;
    top: 50%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    position: relative;
  }

  &__dots {
    @include media-breakpoint-down(sm) {
      width: 30px;
      right: -30px;
      top: calc(50% + 14px);
    }

    position: absolute;
    height: 3px;
    width: 102px;
    top: calc(50% + 14px);
    right: -102px;
    background-image: url("../img/timeline-dots.svg");
    opacity: 1;
  }

  &__item {
    position: relative;
    min-width: 200px;
  }

  &__line {
    min-width: 200px;
    background-color: $gray-800;
    height: 4px;
    position: absolute;
    opacity: 0;
    transform: scale(1);

    &::before {
      position: absolute;
      content: "";
      background-color: $gray-800;
      left: 0;
      top: 0;
      height: 23px;
      width: 3px;
      transform: translateY(-50%);
    }
  }

  &__content {
    position: absolute;
    background-color: $primary;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 50px;
    padding-bottom: 45px;
    width: max-content;
    min-width: 200px;
    max-width: 302px;
    bottom: -100%;
    transform: translateY(-50px);
    opacity: 1;

    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      clip-path: polygon(0 0, 0% 100%, 84% 0);
      background-color: $primary;
      bottom: -20px;
      left: 0;
    }

    &--bottom {
        bottom: unset;
        transform: translateY(50px);

      &::before {
        clip-path: polygon(0 0, 0% 100%, 84% 100%);
        top: -20px;
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 25px;
    color: $white;
    font-weight: $font-weight-bold;
  }

  &__perex {
    color: $white;
    font-weight: $font-weight-light;
  }
}
