.a-action-link {
  @include media-breakpoint-down(lg) {
    color: $gray-800;
    background-color: transparent;
    min-height: auto;
    justify-content: flex-start;
    font-size: 20px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
    }

    &:hover {
      color: $secondary;
    }
  }

  @include media-breakpoint-up(lg) {

    &:hover {
      color: $white;
      background-color: $secondary;
    }
  }

  background-color: $primary;
  color: $white;
  text-decoration: if($link-decoration == none, null, none);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-transform: uppercase;
  transition: all .3s ease;
}
