.a-btn {
  @include media-breakpoint-down(sm) {
    padding: 1.25rem 2.3125rem;
  }

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-family: $headings-font-family;
  padding: 2rem 2.3125rem;
  border-radius: 0.9375rem;
  font-weight: $font-weight-bold;
  font-size: 0.875rem;
  transition: all .3s ease;
  border: none;
  outline: none;
  text-decoration: if($link-decoration == none, null, none);

  &--primary {
    background-color: $white;
    color: $primary;

    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }

  &--secondary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $secondary;
    }
  }

  &--outline-primary {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $secondary;
      border-color: 1px solid $secondary;
    }
  }

  &--outline-secondary {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;

    &:hover {
      color: $white;
      background-color: $secondary;
      border: 1px solid $secondary;

    }
  }

  svg {
    display: block;
  }
}
