$containerLastIndex: length($container-max-widths);
$containerIndex: 0;

.a-container {
  @include make-container();

  @each $breakpoint, $value in $container-max-widths {
    $containerIndex: $containerIndex + 1;
    @if $containerLastIndex == $containerIndex {
      max-width: $value;
    } @else {
      &--#{$breakpoint} {
        max-width: $value;
      }
    }
  }
}
