.a-dropdown {
  @include media-breakpoint-down (lg) {
    &__menu {
      position: relative !important;
      border: none;
    }
  }

  &__btn {

    &::after {
      display: none !important;
    }
  }

  &__item {

    &:hover,
    &:active {
      background-color: $white !important;
    }
  }
}
