$list-line-height: 35px;

.a-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1.75rem;

  &__title {
    width: 100%;
    display: inline-block;
  }

  li {
    line-height: $list-line-height;
  }

  a {
    text-decoration: none;
    transition: all .3s ease;
    color: $white;

    &:hover {
      color: $gray-800;
    }
  }

  &--dark {

    a {
      color: $gray-800;
    }
  }

  &--white {

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &--row {
    display: flex;

    li {
      width: 100%;
    }
  }

  &--dash {
    color: $gray-800;

    li {
      margin-bottom: 1.25rem;
      position: relative;
      padding-left: 3.5rem;

      &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 1px;
        top: calc($list-line-height / 2);
        background: $gray-800;
        left: 0;
      }
    }
  }

  &--check {

    li {
      margin-bottom: 1.25rem;
      position: relative;
      padding-left: 3.5rem;

      &::before {
        position: absolute;
        height: 18px;
        width: 23px;
        background-image: url("../img/check.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        top: 10px;
        left: 0;
      }
    }
  }

  &--col {
    @include media-breakpoint-up(md) {
      column-count: 2;
      column-gap: 40px;
    }
  }
}
