.a-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1.75rem;

  li {
    line-height: 35px;
  }

   a {
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $gray-800;
    }
  }

  &--row {
    display: flex;

    li {
      width: 100%;
    }
  }

  &__title {
    width: 100%;
    display: inline-block
  }
}
