.a-more-link {
  @include media-breakpoint-up(xl) {
   margin-left: -73%;
  }
  @include media-breakpoint-down(xl) {
   margin-left: -80%;
   margin-top: 20px;
  }

  display: inline-flex;
  font-size: 13px;
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  gap: 15px;

  span {
    overflow: hidden;
    white-space: nowrap;
    color: $white;
    transition: all 0.3s ease;
    opacity: 0;
  }

  &:hover {
    margin-left: 0;

    span {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
  }
}
