.a-more-link {
  display: inline-flex;
  font-size: 13px;
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  gap: 15px;

  span {
    max-width: 0.01px;
    overflow: hidden;
    white-space: nowrap;
    color: $white;
    transition: all 0.3s ease;
  }

  &:hover {
    span {
      max-width: 100%;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
  }
}
