.a-perex {
  @include media-breakpoint-up(lg) {
    &--column {
      column-count: 2;
      column-gap: 40px;
    }
  }

 font-size: $font-size-lg;
 line-height: 35px;

  &--sm {
    max-width: 24.0625rem;
  }
}
