.a-title {
  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }

  font-size: 1.5625rem;
  line-height: 35px;

  > span {
    display: block;
    font-weight: $font-weight-bold;

    @supports (-webkit-text-stroke: 1px $black) {
      color: transparent;
      -webkit-text-stroke: 1px $black;
    }
    @supports not (-webkit-text-stroke: 1px $black) {
      color: $black;
    }
  }

  &--bold {
    font-weight: $font-weight-bold;
    margin-bottom: 3.125rem;

    &-white {
      color: $white;
    }
  }

  &--sm {
    font-size: 1.5625rem;
    max-width: 450px;
  }

  &--xs {
    font-size: 15px;
  }

  &--footer {
    font-size: 14px;
    font-family: $font-family-base;
    color: $white;
    font-weight: $font-weight-bold;
  }

  &--primary {

    > span {
      @supports (-webkit-text-stroke: 1px $primary) {
        color: transparent;
        -webkit-text-stroke: 1px $primary;
      }
      @supports not (-webkit-text-stroke: 1px $primary) {
        color: $primary;
      }
      @include media-breakpoint-down(md) {
        font-size: 3.75rem;
      }

      font-size: 5rem;
      margin-bottom: 40px;
    }
  }
}
