.a-title {
  font-family: $font-family-secondary;

  span {
    display: block;
    font-weight: $font-weight-bold;

    @supports (-webkit-text-stroke: 1px $black) {
      color: transparent;
      -webkit-text-stroke: 1px $black;
    }

    @supports not (-webkit-text-stroke: 1px $black) {
      color: $black;
      // text-shadow: 0 0 2px rgba($black, 1);
    }
  }
}
