.a-title {
  // font-family: $font-family-secondary;
  // font-weight: $font-weight-normal !important;
  font-size: 1.5625rem;
  line-height: 35px;


  > span {
    display: block;
    font-weight: $font-weight-bold !important;

    @supports (-webkit-text-stroke: 1px $black) {
      color: transparent;
      -webkit-text-stroke: 1px $black;
    }

    @supports not (-webkit-text-stroke: 1px $black) {
      color: $black;
    }
  }

  &--bold {
    font-weight: $font-weight-bold;
    margin-bottom: 3.125rem;
  }

  &--sm {
    font-size: 1.5625rem;
    max-width: 450px;
  }

  &--xs {
    font-size: 15px;
  }
}
