.o-hello {
  $root: &;

  padding: 235px 0;
  position: relative;
  color: $white;

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__body {
    position: relative;
    z-index: 5;
  }

  &__title {
    @include media-breakpoint-up(lg) {
      font-size: 8rem;
      line-height: 155px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 10rem;
    }

    font-size: 4rem;
    line-height: 80px;

    > span {

      @supports (-webkit-text-stroke: 1px $white) {
        color: transparent;
        -webkit-text-stroke: 1px $white;
      }

      @supports not (-webkit-text-stroke: 1px $white) {
        color: $white;
      }
    }
  }

  &__actions {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    margin-top: 60px;
    display: flex;
    gap: 20px;
  }

  &--full {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;

    #{$root}__title {
      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 2rem
      }
      font-size: 5rem;
      margin: 40px 0;
    }

    #{$root}__name {
      font-size: 1.5625rem;
      font-weight: $font-weight-bold;
      margin: 40px 0;
    }

    #{$root}__perex {
      margin: auto;
    }

    #{$root}__actions {
      @include media-breakpoint-down(sm) {
        align-items: center;
      }
      justify-content: center;
      margin-top: 40px;
    }
  }
}
