.o-header {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid rgba($white, 0.1);

  // &.stickyNav {
  //   background-color: $gray-800;
  // }

  &__overlay {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $gray-800;
  }

  &__colapse {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 100px;
      flex-direction: column;
      background-color: $white;
      display: none;
    }

    display: flex;
    flex-direction: row;

    &.open {
      display: flex;
    }
  }
}

