.o-hero {
  $root: &;

  @include media-breakpoint-up(md) {
    padding-top: 200px;
    padding-bottom: 70px;
  }

  padding-top: 8rem;
  padding-bottom: 5.125rem;
  background-color: $blue;
  color: $white;
  position: relative;
  overflow: hidden;

  &--dark {
    background-color: $gray-800;

    #{$root}__figure {

      &::before {
        background-image: linear-gradient(270deg, $gray-800 0%, rgba($gray-800, 0) 100%);
      }

      &::after {
        background-color: $gray-800;
      }
    }
  }

  &--offset {
    background: linear-gradient(to bottom, $gray-200 50%, $white 50%);
    padding-top: 6.875rem;
    padding-bottom: 20rem;

    #{$root}__figure {
      @include media-breakpoint-down(xl) {
        width: calc(100% - 40px);
      }

      right: 0;
      width: calc(100% - 80px);
      margin: auto;
      border-radius: 20px;
      overflow: hidden;
      max-width: 1600px;

      img {
        @include media-breakpoint-down(md) {
          object-position: bottom;
        }

        object-position: right;
      }

      &::after {
        background: none;
      }

      &::before {
        background-image: none;
      }
    }

    #{$root}__body {
      padding: 0 2rem;
    }

    &-sm {
      padding-top: 8.125rem;
      padding-bottom: 8.125rem;
    }
  }

  &--full {
    @include media-breakpoint-up(lg) {
      padding-top: 12.5rem;
      padding-bottom: 21.25rem;
    }

    padding-bottom: 15rem;

    #{$root}__figure {
      right: 0;
      max-width: 100%;

      img {
        @include media-breakpoint-up(md) {
          object-position: right;
        }

        object-position: bottom;
      }

      &::before {
        background-image: none;
      }

      &::after {
        background: none;
      }
    }
  }

  &__title {
    @include media-breakpoint-down(lg) {
      font-size: 4rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 3rem;
      line-height: 50px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }

    font-size: 5rem;
    color: $white;
    margin-bottom: 50px;
    line-height: 90px;

    > span {
      @supports (-webkit-text-stroke: 1px $white) {
        color: transparent;
        -webkit-text-stroke: 1px $white;
      }

      @supports not (-webkit-text-stroke: 1px $white) {
        color: $black;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 10;
  }

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    z-index: 2;
    max-width: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: "";
      background-image: linear-gradient(270deg, $blue 0%, rgba($blue, 0) 100%);
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: "";
      background-color: $blue;
      opacity: .2;
    }
  }
}

