@use 'sass:math';

.o-list {
  @include media-breakpoint-down(xl) {

    &__row {
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    flex: 0 0 auto;
    width: 100%;

    @include media-breakpoint-up(xl) {
      flex: 0 0 percentage(math.div(1,4));
      max-width: percentage(math.div(1,4));
      width: percentage(math.div(1,4));
    }
  }
}
