@use "sass:math";

.o-list {
  @include media-breakpoint-down(xl) {

    &__row {
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    @include media-breakpoint-up(xl) {
      flex: 0 0 math.percentage(math.div(1, 4));
      max-width: math.percentage(math.div(1, 4));
      width: math.percentage(math.div(1, 4));
    }

    flex: 0 0 auto;
    width: 100%;
  }
}
