.o-section {
  @include media-breakpoint-up(lg) {
    &__title {
      font-size: 5rem;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-down(md) {
    &__title {
      font-size: 2rem;
    }

    &__actions {
      flex-direction: column;
      align-items: center;
    }
  }

  padding: 9.375rem 0;

  &--light {
    background-color: $gray-200;
    color: $gray-800;
  }

  &__title {
    margin-bottom: 5rem;

    &--sm {
      font-size: 2.8125rem;
      margin-bottom: 2.5rem;

    }
  }

  &__name {
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
    }

    font-size: 15px;
    color: $primary;
    line-height: 32px;
    margin-bottom: 26px;
    font-weight: $font-weight-bold;
    padding-left: 40px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5rem;
  }
}
