@font-face {
  font-family: "Syncopate";
  src: url("../fonts/Syncopate-Bold.woff2") format("woff2"),
    url("../fonts/Syncopate-Bold.woff") format("woff");
  font-weight: $font-weight-bold;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Syncopate";
  src: url("../fonts/Syncopate-Regular.woff2") format("woff2"),
    url("../fonts/Syncopate-Regular.woff") format("woff");
  font-weight: $font-weight-normal;
  font-style: normal;
  font-display: swap;
}

.wow {
  visibility: hidden;;
}

.swiper-button-disabled {
  opacity: .5;
}

.swiper-slide-next {
  @include media-breakpoint-up(lg) {
    position: relative;
    left: 70px;
    animation: positionAnim 1.2s ease;
  }
}

.swiper-slide-active {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid $gray-600;
  }
}

html.lg-on {
  overflow: hidden;
}

.lg-backdrop {
  background-color: rgba($color: $gray-800, $alpha: 0.9) !important;
}

.lg-counter {
  display: none !important;
}
